body{
    background-color: lightskyblue;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
    a {
    display: block;
    margin-bottom: 30px;
}

.GameContainer {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.GameItem {
    text-align: center;
}

.TableContainer{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.TableGame{
    text-align: center;
}